{{!-- <div class="container">
   <h2>Movies: </h2>
   <ul id="movies">
   {{log movies}}
   {{#each movies as |movie|}}
    {{log movies}}
     <li>
       {{movie.title}} By: {{movie.director}}
     </li>
   {{/each}}
   </ul>
</div> --}}

{{!-- <div class="oneSnip-card">
  <div class="card-info" data-id="{{snippet.id}}">
    <p class="title"> Type:
      {{snippet.type}}
    </p>
    <p class="title"> Information:
      {{snippet.information}}
    </p>

    <p class="title">Content: </p>
      {{snippet.content}}

    <div class="actions">
      <button class="btn btn-secondary p-3" type="submit"> Delete snippet </button>
    <button class="btn btn-secondary p-3" type="submit"> Update snippet </button>
    </div>
  </div>
</div> --}}